.profile-page {
    color: var(--vintage-white);
}

.main-profile{
    width: 400px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    position: relative;
}

.profile-icn {
    font-size: 100px;
}

.profile-n-b {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile-n-b p {
    margin: 0;
}

.profile-n-b input {
    background-color: transparent;
    color: var(--vintage-white);
    border: none;
    font-size: 20px;
}

#name-input {
    height: 25px;
}

#bio-input {
    font-size: 16px;
    height: 20px;
}

#profile-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 25px;
}

#profile-bio {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 20px;
}

.profile-settings {
    position: absolute;
    top: 16px;
    right: 0;
    cursor: pointer;
}

.profile-input {
    display: none;
}

.active-settings {
    position: absolute;
    display: none;
    align-items: center;
}

.active-settings label {
    cursor: pointer;
    font-size: 14px;
}

.active-settings button {
    height: 20px;
    color: var(--vintage-white);
    margin-left: 20px;
    background-color: var(--pinkish-red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.show-active-settings {
    display: flex;
}