.profile-page {
    color: var(--vintage-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
}

.profile-page hr {
    border: none;
    background-color: var(--vintage-white);
    color: var(--vintage-white);
    width: 790px;
    height: 2px;
}

.main-profile{
    margin-top: 200px;
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    position: relative;
}

.profile-icn {
    font-size: 100px;
}

.profile-n-b {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile-n-b p {
    margin: 0;
}

.profile-n-b input {
    background-color: transparent;
    color: var(--vintage-white);
    border: none;
    font-size: 20px;
}

#name-input {
    height: 25px;
}

#bio-input {
    font-size: 16px;
    height: 20px;
}

#profile-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 25px;
}

#profile-bio {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 20px;
}

.profile-settings {
    position: absolute;
    top: 16px;
    right: 0;
    cursor: pointer;
}

.profile-input {
    display: none;
}

.pic-label {
    margin-left: 6px;
}

.active-settings {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.active-settings label {
    cursor: pointer;
    font-size: 14px;
}

.active-settings button {
    height: 20px;
    color: var(--vintage-white);
    margin-left: 20px;
    background-color: var(--pinkish-red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.show-active-settings {
    display: flex;
}

.profile-posts {
    width: 60%;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(370px, 370px));
    height: auto;
}