.comments-page {
    background-color: var(--vintage-white);
    border: 1px solid var(--dark-brown);
    border-radius: 15px;
    width: 700px;
    height: 600px;
    position: absolute;
    top: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post-info {
    width: 250px;
    position: relative;
}

.comment-caption {
    height: 160px;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
}

.show-comments-page {
    opacity: 1;
    transform: scale(1);
}

.post-contents {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.comments-img {
    border: 1px solid var(--dark-brown);
}

.comment-title {
    font-family: 'Mynerve', cursive;
}

.comments-user {
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
}

.comment-user-icn {
    font-size: 45px;
    color: gray;
}

.name-bio p{
    margin: 0;
    color: black;
}

.name-bio p:nth-child(2) {
    font-size: 14px;
    color: gray;
}

.comment-date {
    margin: 0;
    font-size: 12px;
    color: gray;
}

.comments-heart-icn {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}