.comments-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.comments-page {
    background-color: var(--vintage-white);
    border: 1px solid var(--dark-brown);
    border-radius: 15px;
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  */
}

.comments-contents {
    width: 99%;
    margin-top: 20px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

/* width */
.comments-contents::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .comments-contents::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .comments-contents::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .comments-contents::-webkit-scrollbar-thumb:hover {
    background: var(--dark-brown); 
  }



.show-comments-page {
    opacity: 1;
    transform: scale(1);
}
.post-info {
    width: 250px;
    height: 350px;
    position: relative;
}

.comment-caption {
    height: 160px;
    width: 250px;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    overflow-y: auto;
}



.post-contents {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.comments-img {
    border: 1px solid var(--dark-brown);
    margin-top: 0;
}

.comment-title {
    font-family: 'Mynerve', cursive;
}

.comments-user {
    display: flex;
    column-gap: 15px;
    position: relative;
}

.cmnt-msg-user {
    font-size: 16px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}

.cmnt-msg-user:hover {
    color: var(--dark-brown);
    transition: all 0.1s ease-in-out;
}

.comment-user-icn {
    font-size: 45px;
    color: gray;
}
.name-bio {
    cursor: pointer;
}

.name-bio p{
    margin: 0;
    color: black;
}

.name-bio p:nth-child(2) {
    font-size: 14px;
    color: gray;
}

.comment-date {
    margin: 0;
    font-size: 12px;
    color: gray;
}

.comments-heart-icn {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--dark-brown);
    cursor: pointer;
}

.comments-sign {
    margin: 20px 0;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid gray;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

.comments-sign h3 {
    font-weight: 400;
}

.comments-sign p {
    margin-top: 3px;
    font-size: 14px;
}

.comments-input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--vintage-white);
    border-radius: 0 0 15px 15px;
    height: 60px;
    width: 100%;
    border-top: 1px solid var(--dark-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.comments-input p {
    margin-right: 40px;
    margin-bottom: 22px;
    text-align: center;
    cursor: pointer;
}

.comment {
    margin: 0 40px;
    padding-left: 10px;
    width: 100%;
    height: 25px;
    font-size: 16px;
    border: 1px solid var(--dark-brown);
    background-color: transparent;
}



.comment-div {
    display: flex;
    column-gap: 15px;
    width: 90%;
    margin-bottom: 20px;
}

.name-comment {
    display: flex;
    flex-direction: column;
}


.name-comment p {
    margin: 0;
}

.name-comment p:nth-child(1) {
    margin: 0;
    font-size: 14px;
}

.post-likes {
    position: absolute;
    margin: 0 10px 0 0;
    bottom: 0;
    left: 0;
    color: gray;
}

.comment-dp {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-user-img {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

@media (max-width: 730px) {

    .comments-page {
        width: 380px;
    }

    .comments-contents {
        height: 538px;
    }

    .post-contents {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .comments-img {
        width: 330px;
        height: 330px;
    }

    .comments-input {
        height: 40px;
    }

    .comment {
        margin: 0 10px;
    }

    .comments-input p {
        margin: 0;
        margin-right: 20px;
    }
}

@media (max-width: 390px) {
    .comments-page {
        transform: scale(0.9);
    }
}