.message-page {
    position: absolute;
    background-color: var(--vintage-white);
    bottom: -565px;
    right: 20px;
    width: 150px;
    height: 600px;
    border: 1px solid gray;
    color: var(--dark-brown);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.message-page-show {
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    bottom: -20px;
    width: 350px;
}

.message-header {
    cursor: pointer;
    width: 90%;
    height: auto;
    text-align: center;
    border-bottom: 1px solid gray;
}

.message-header h3 {
    margin: 5px 0;
}

.message-contents {
    width: 330px;
    height: 540px;
    overflow-y: auto;
    align-self: flex-end;
    margin-right: 3px;
}



.message-preview {
    padding-left: 3px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    column-gap: 15px;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.message-preview:hover {
    background-color: var(--light-gray);
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
}



.message-content h4, p {
    margin: 0;
}


.message-content p {
    font-size: 14px;
    color: gray;
}

.msg-icn {
    font-size: 45px;
}






.message-contents::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.message-contents::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.message-contents::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
.message-contents::-webkit-scrollbar-thumb:hover {
  background: var(--dark-brown); 
}

.chat-page {
        width: 100%;
        height: 580px;
        overflow-y: auto;
        align-self: flex-end;
        position: relative;
}

.chat-dp-name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    color: var(--dark-brown);
    border-bottom: 1px solid gray;
}

.chat-dp {
    margin-left: 10px;
    font-size: 45px;
}

.message-input {
    color: var(--dark-brown);
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input input {
    width: 280px;
    height: 20px;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid gray;
}

.msg-send-icn {
    margin-right: 15px;
    cursor: pointer;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 475px;
    overflow-y: auto;
}

.message {
    margin-top: 20px;
    max-width: 200px;
    height: auto;
    overflow-y: visible;
    background-color: var(--light-gray);
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: 5px 10px;
    margin-left: 10px;
}

.msg-sent {
    align-self: flex-end;
    background-color: gray;
    color: white;
    margin-right: 10px;
}