:root {
  --dark-brown: #352e28;
  --light-green: #3d5d52;
  --medium-brown: #c98f61;
  --light-gray: #a5b2ab;
  --light-peach: #d3b8a5;
}

.App {
  background-color: var(--light-gray);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}