:root {
  --dark-brown: #352e28;
  --light-green: #3d5d52;
  --medium-brown: #c98f61;
  --light-gray: #a5b2ab;
  --light-peach: #d3b8a5;
  --vintage-white: #E5E5DB;
  --pinkish-red: #ef3a5d;
}

@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.App {
  background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("./images/background.jpg");
  width: 100%;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}


input:focus {
  outline: none;
}

